<div id="boards" fxlayout="column" fxlayoutalign="start center" fxflex="" fuseperfectscrollbar=""
    class="fuse-navy ng-tns-c184-239 ps"
    style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center; flex: 1 1 0%;">
    <div class="ps__rail-x" style="left: 0px; top: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; left: 0px; height: 595px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
    </div>
    <div fxlayout="row" fxlayoutalign="center center" fxflex="0 0 auto"
        class="header pt-44 pt-md-88 ng-tns-c184-239 ng-trigger ng-trigger-animate"
        style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 0 0 auto;">
        <h1 class="ng-tns-c184-239">Scrumboard App</h1>
    </div>
    <div fxflex="0 0 auto" fxlayout="row wrap" fxlayoutalign="center center"
        class="board-list ng-tns-c184-239 ng-trigger ng-trigger-animateStagger"
        style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 0 0 auto;">
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Frontend Application</div>
        </div>
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item ng-tns-c184-239 ng-trigger ng-trigger-animate ng-star-inserted" tabindex="0"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">assessment</mat-icon>
            <div class="board-name ng-tns-c184-239">ACME Backend Application</div>
        </div>
        <!---->
        <div fxlayout="column" fxlayoutalign="center center"
            class="board-list-item add-new-board ng-tns-c184-239 ng-trigger ng-trigger-animate"
            style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
            <mat-icon role="img" class="mat-icon notranslate s-56 ng-tns-c184-239 material-icons mat-icon-no-color"
                aria-hidden="true">add_circle</mat-icon>
            <div class="board-name ng-tns-c184-239">Add new board</div>
        </div>
    </div>
</div>